body {
    background: #23272A;
    color: #fff;
}
.form {
    margin: 50px auto;
    border-radius: 10px;
    width: 500px;
    padding: 30px 25px;
    color: #fff;
    background: #2C2F33;
}
h1.login-title {
    color: #666;
    color: #fff;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #fff;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    color: #fff;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    color: #fff;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}
a {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}
a:active {
    color: #fff;
}
h3 {
    font-weight: normal;
    color: #fff;
    text-align: center;
}
.l {
    font-family: 'Ubuntu';
    text-decoration: none;
    padding: 10px;
    background-color: #7289da;
    border-radius: 5px;
}
.l:hover {
    background-color: #aab6ff;
    color: #fff;
}
.l:active {
    background-color: #616894;
    color: #fff;
}
@font-face {
    font-family: 'DiscordHeavyItalic';
    src: url('src/font/Discord Heavy Italic.otf'); 
    format('opentype');
}
@font-face {
    font-family: 'DiscordHeavy';
    src: url('src/fonts/Discord Heavy.otf');
    format('opentype');
}
@font-face {
    font-family: 'DiscordThin';
    src: url('src/fonts/Discord Thin.otf');
    format('opentype');
}
@font-face {
    font-family: 'DiscordThinItalic';
    src: url('src/fonts/Discord Thin Italic.otf');
    format('opentype');
}
/* Minecraft Font */
@font-face {
    font-family: 'MinecraftTen';
    src: url('src/fonts/MinecraftTen.ttf');
    format('typertype');
}
@font-face {
    font-family: 'MinecraftBold';
    src: url('src/fonts/MinecraftBold.otf');
    format('opentype');
}
@font-face {
    font-family: 'MinecraftBoldItalic';
    src: url('src/fonts/Minecraft Bold Italic.otf');
    format('opentype');
}
@font-face {
    font-family: 'MinecraftItalic';
    src: url('src/fonts/Minecraft Italic.otf');
    format('opentype');
}
@font-face {
    font-family: 'Minecraft';
    src: url('src/fonts/MinecraftRegular.otf');
    format('opentype');
}
/* ProFontWindows */
@font-face {
    font-family: 'ProFontWindows';
    src: url('src/fonts/ProfontWindows.ttf');
    format('typertype');
}
@font-face {
    font-family: 'ProFontWindowsBold';
    src: url('src/fonts/ProfontWindowsBold.ttf');
    format('typertype');
}
/* Ubuntu Font */
@font-face {
    font-family: 'Ubuntu';
    src: url('src/fonts/Ubuntu.ttf');
    format('typertype');
}
@font-face {
    font-family: 'UbuntuBold';
    src: url('src/fonts/UbuntuBold.ttf');
    format('typertype');
}
@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('src/fonts/UbuntuBoldItalic.ttf');
    format('typertype');
}
@font-face {
    font-family: 'UbuntuItalic';
    src: url('src/fonts/UbuntuItalic.ttf');
    format('typertype');
}
@font-face {
    font-family: 'UbuntuLight';
    src: url('src/fonts/UbuntuLight.ttf');
    format('typertype');
}
@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('src/fonts/UbuntuLightItalic.ttf');
    format('typertype');
}
@font-face {
    font-family: 'UbuntuMedium';
    src: url('src/fonts/UbuntuMedium.ttf');
    format('typertype');
}
@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('src/fonts/UbuntuMediumItalic.ttf');
    format('typertype');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
